<!DOCTYPE html>
<html>
  <head>
    <title>PF3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class='headerWrapper'>
        <div id="nav-drawer">
          <input id="nav-input" type="checkbox" class="nav-unshown">
          <label id="nav-open" for="nav-input"><span></span></label>
          <label class="nav-unshown" id="nav-close" for="nav-input"></label>
          <div id="nav-content">
            <div class='headerMenuH'>
              <ul class='headerMenuInH'>
                <a href="/"><li class='headerListH'>Salonguide</li></a>
                <a href="/menu"><li class='headerListH'>Menu</li></a>
                <a href="/staff"><li class='headerListH'>Staff</li></a>
                <a href="#"><li class='headerListH'>Gallery</li></a>
                <a href="#"><li class='headerListH'>Access</li></a>
              </ul>
            </div>
          </div>
        </div>
        <div class='headerLogo'>
          <img src="images/sample_logo.jpg" alt="logo" class='headerLogoIn'>
        </div>
        <div class='headerMenu'>
          <ul class='headerMenuIn'>
            <a href="/"><li class='headerList'>Salonguide</li></a>
            <a href="/menu"><li class='headerList'>Menu</li></a>
            <a href="/staff"><li class='headerList'>Staff</li></a>
            <a href="#"><li class='headerList'>Gallery</li></a>
            <a href="#"><li class='headerList'>Access</li></a>
          </ul>
        </div>
        <div class='headerContact'>
          <a href="#">
            <div class='contactWrapper'>
              <p class='contactText'>WEB予約はこちら</p>
              <p class='contactText contactTextTell'>tel: 01-2345-6789</p>
            </div>
          </a>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class='footerWrapper'>
        <div class='footerLogo'>
          <img src="images/sample_logo.jpg" alt="logo" class='footerLogoIn'>
        </div>
        <div class='footerMenu'>
          <ul class='footerMenuContents'>
            <a href="/"><li class='footerList'>トップ</li></a>
            <a href="/"><li class='footerList'>サロンガイド</li></a>
            <a href="/menu"><li class='footerList'>メニュー</li></a>
            <a href="/staff"><li class='footerList'>スタッフ</li></a>
            <a href="#"><li class='footerList'>ギャラリー</li></a>
            <a href="#"><li class='footerList'>アクセス</li></a>
          </ul>
        </div>
        <div class='links'>
          <a href="#" class='footerLink noIcon'>WEB予約</a>
          <a href="#" class='footerLink'><i class="fab fa-twitter"></i></a>
          <a href="#" class='footerLink'><i class="fab fa-instagram"></i></a>
          <a href="#" class='footerLink'><i class="fab fa-facebook"></i></a>
        </div>
        <div class=footerMark>
          <small>&copy;tomozQoo Sample</small>
        </div>
      </div>
    </footer>
  </body>
</html>
